body {
  font-family: "Tahoma";
  margin: 0px;
  background-image: url("../img/grainy-background.webp");
  background-size: cover;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(70, 130, 180);
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.navbar li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li:hover {
  background-color: rgb(0, 0, 139);
}

#banner {
  text-align: center;
  margin-top: 10px;
}

#ministries-section {
  text-align: center;
}

#ministries-text {
  color: rgb(70, 130, 180);
  font-size: 250%;
}

#free-section {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#free-image {
  width: 350px;
  margin-right: 20px;
}

#free-title {
  font-size: 200%;
  color: rgb(70, 130, 180);
}

#free-action {
  margin-bottom: 50px;
}

#free-link {
  color: rgb(255, 0, 216);
  font-size: 200%;
}

#free-link:active {
  color: lime;
}

#free-link:hover {
  color: magenta;
}

#free-link:active {
  color: orange;
}

#other-section {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 20px;
}

#other-center {
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
}

#other-title {
  font-size: 100%;
  margin: 0px;
}

#other-table,
th,
td {
  border: 2px dotted black;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: lightgray;
}

tr:nth-child(odd) {
  background-color: white;
}

td:hover {
  background-color: rgb(255, 209, 123);
}

div.gallery-section {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 100vw;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

footer {
  margin-top: 50px;
  text-align: center;
  color: rgb(160, 160, 160);
}

.footer-link {
  color: rgb(160, 160, 160);
}

#footer-bottom {
  font-size: 75%;
}
